/* html {
  margin-right: calc(-1 * (100vw - 100%));
} */

#root {
  background: linear-gradient(30deg, hsl(205, 71%, 25%), hsl(294, 25%, 50%));
  width: 100vw;
}

nav {
  position: absolute;
  top: 0;
  z-index: 2;
  width: 100vw;
  box-shadow: 0 5px 1rem rgba(0, 0, 0, 0.306);
  margin-bottom: 3rem;
  /* background: rgba(255, 255, 255, 0.2); */
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.9px);
  -webkit-backdrop-filter: blur(8.9px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

nav > h1 {
  font-size: 2rem;
  margin: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border: none;
}

.navLink {
  color: white;
}

h1 {
  padding-left: 4rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid white;
}

.container {
  margin-top: 7rem;
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 0 4rem;
}

.decoBall {
  position: absolute;
  bottom: 0;
}

.decoBall::after {
  position: absolute;
  border-radius: 50%;
  box-shadow: 0 1rem 56px rgba(0, 0, 0, 0.103);
}

.decoBallFirst::after {
  content: "";
  position: absolute;
  bottom: -10rem;
  left: -10rem;
  width: 30rem;
  height: 30rem;
  background: linear-gradient(30deg, hsl(205, 71%, 25%), hsl(294, 25%, 50%));
  animation: decoBall 5s infinite ease-in-out;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.decoBallSecond::after {
  content: "";
  position: absolute;
  bottom: 1rem;
  left: 10rem;
  width: 15rem;
  height: 15rem;
  background: linear-gradient(30deg, hsl(205, 71%, 25%), hsl(294, 25%, 50%));
  animation: decoBall 4.5s infinite ease-in-out;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.decoBallThird::after {
  content: "";
  position: absolute;
  top: -24rem;
  left: 14rem;
  width: 5rem;
  height: 5rem;
  background: linear-gradient(30deg, hsl(205, 71%, 25%), hsl(294, 25%, 50%));
  animation: decoBall 4s infinite ease-in-out;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.decoBallFourth {
  content: "";
  position: absolute;

  top: -6rem;
  right: -5rem;

  width: 35rem;
  height: 35rem;

  border-radius: 50%;
  background: linear-gradient(30deg, hsl(205, 71%, 25%), hsl(294, 25%, 50%));
  box-shadow: 0 1rem 56px rgba(0, 0, 0, 0.103);
  animation: decoBall 5s infinite ease-in-out;
  border: 1px solid rgba(0, 0, 0, 0.5);
}
.decoBallFith {
  content: "";
  position: absolute;

  top: 4rem;
  right: 15rem;

  width: 20rem;
  height: 20rem;

  border-radius: 50%;
  background: linear-gradient(30deg, hsl(205, 71%, 25%), hsl(294, 25%, 50%));
  box-shadow: 0 1rem 56px rgba(0, 0, 0, 0.103);
  animation: decoBall 4.5s infinite ease-in-out;
  border: 1px solid rgba(0, 0, 0, 0.5);
}
.decoBallSixth {
  content: "";
  position: absolute;

  bottom: 7rem;
  right: 10rem;

  width: 12rem;
  height: 12rem;

  border-radius: 50%;
  background: linear-gradient(30deg, hsl(205, 71%, 25%), hsl(294, 25%, 50%));
  box-shadow: 0 1rem 56px rgba(0, 0, 0, 0.103);
  animation: decoBall 4s infinite ease-in-out;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

@keyframes decoBall {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(50px);
  }
  100% {
    transform: translateY(0);
  }
}

form {
  z-index: 2;
  margin-left: 2rem;
  width: 20rem;
}

form > label {
  display: none;
  margin-bottom: 1rem;
}

form > input {
  width: 21rem;
  background: none;
  border: solid 1px white;
  border-radius: 2px;
  color: white;
  height: 1.5rem;
}

form > input,
form > textarea {
  font-size: 1rem;
  width: 20rem;
  margin-bottom: 3rem;
  padding: 0.5rem;
  font-family: inherit;
  background: none;
  color: white;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.9px);
  -webkit-backdrop-filter: blur(8.9px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

input:hover,
input:focus,
textarea:hover,
textarea:focus {
  border-color: inherit;
}

textarea {
  width: 20rem;
  height: 6.9rem;
  resize: none;
  border: solid 1px white;
}

form > button {
  height: 3rem;
  width: 21rem;
  background: none;
  border: solid 1px white;
  border-radius: 2px;
  color: white;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.9px);
  -webkit-backdrop-filter: blur(8.9px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

input::placeholder,
textarea::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.postsLists {
  width: 1008px;
  height: 416px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 1rem;
  padding: 0;
}

.post {
  position: relative;
  display: flex;
  align-items: center;
  background-color: transparent;
  width: 15rem;
  height: 8rem;
  list-style: none;
  border-radius: 5px;
  z-index: 2;
}

/* .post::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  border-radius: inherit;
  background-image: linear-gradient(rgba(0, 0, 0, 0.07) 0%, rgba(0, 0, 0, 0.3) 25%, rgba(0, 0, 0, 0.9) 100%);
} */
.post::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  border-radius: inherit;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.9px);
  -webkit-backdrop-filter: blur(8.9px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.backgroundImg {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-repeat: no-repeat;
  border-radius: inherit;
}

.user {
  display: inline-block;
  width: inherit;
  max-height: inherit;
  position: absolute;
  font-size: 0.8rem;
  top: 0;
  left: 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  z-index: 2;
}

.post > a::first-letter {
  text-transform: capitalize;
}

.post > a {
  z-index: 2;
  display: inline-block;
  width: inherit;
  max-height: inherit;
  padding: 10px;
  font-size: 1rem;
  color: white;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.deleteButton {
  position: absolute;
  top: -10px;
  right: -10px;
  width: 2rem;
  height: 2rem;
  text-align: center;
  font-size: 0.8rem;
  font-weight: 700;
  color: rgba(255, 0, 0, 0.737);
  padding: 5px;
  border-radius: 50%;
  z-index: 2;

  background: rgba(255, 0, 0, 0.15);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border: 1px solid rgba(255, 0, 0, 0.22);
}

.deleteButton:hover,
.deleteButton:focus {
  opacity: inherit;
}

.pagination {
  position: relative;
  display: flex;
  flex-direction: row;
  color: white;
  align-items: center;
  justify-content: center;
}

.paginationInfo {
  font-size: 0.9rem;
  color: rgb(255, 255, 255);
  margin: 0 1rem;
}

.paginationInfoContainer {
  position: absolute;
  bottom: -2rem;
  display: flex;
}

.btn {
  background: none;
  padding: 0.5rem;
  margin: 0 0.5rem;
  font-size: 0.8rem;
  color: white;
  font-weight: 900;
  border-radius: 5px;
  border: solid 1px white;
  width: 3rem;
  text-align: center;
}

.btn:hover {
  color: inherit;
}

.flex {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.postDetails {
  display: flex;
  flex-direction: column;
  margin-left: 0;
}

.postDetailsTitle,
.postDetailsBody {
  all: unset;
  padding: 0;
  width: 90vw;
  min-height: 4rem;
}

.postDetailsTitle {
  font-size: 3.2em;
  line-height: 1.1;
  padding-bottom: 1rem;
  border-bottom: 1px solid white;
}

.postDetailsBody {
  display: inline;
  padding: 1rem 0;
  height: 20rem;
  margin-bottom: 1rem;
}

.postDetailsBody:focus {
  outline: none;
}

.postContent::first-letter {
  text-transform: capitalize;
}
